#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 10px;
  background:darkviolet;
}

.mini-block{
  padding-top:5px;
}

.block-display{
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.green{
  background: green;

}

.white{
  background: white;
}

.error {
  background: red;
}

.btn{
  padding: 14px;
  margin: 5px;
}

